<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <input type="hidden" id="properties" data-inoperation/>
    <div id="canvas"></div>
    <div id="appbar"></div>
    <div id="actionmenu"></div>
    <div id="loading"></div>
  </body>
</html>