test-results/
reports
tmp/
node_modules/
.vscode/
assets/bundle
coverage
docs/spec/dist
docs/spec/src/_ext/__pycache__
docs/api/swagger.json
docs/api/swagger.yaml
docs/api/docs.go
junit.xml

!.gitkeep

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
