test-results/
tmp/
routes/
node_modules/
.vscode/
coverage/
public/fonts/roboto-*
public/spritesheet/*
public/js/bundle.*.js
docs/spec/dist
docs/spec/src/_ext/__pycache__
docs/api/swagger.json
docs/api/swagger.yaml
docs/api/docs.go

resources/img/*
resources/js/*
log
!.gitkeep
conf/secret.conf

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
