{{set . "title" "RushHour"}}
{{append . "moreStyles" "css/index.css"}}
{{if .DevMode}}
  {{append . "moreStyles" "css/debug.css"}}
{{end}}
{{template "header.html" .}}

<input type="hidden"
  id="properties"
  {{ if .loggedin }}
    data-loggedin
    data-oid="{{ .oid }}"
    data-displayname="{{ .name }}"
    data-image="{{ .image }}"
    data-hue="{{ .hue }}"
    {{ if .admin }}
      data-admin
    {{ end }}
  {{ end }}
  {{ if .inOperation }}
    data-inoperation
  {{ end }}
/>

<div id="canvas"></div>
<div id="appbar"></div>
<div id="actionmenu"></div>
<div id="loading"></div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{append . "moreScripts" "js/bundle.index.js"}}
{{template "footer.html" .}}
