{{set . "title" "Home"}}
{{append . "moreStyles" "css/debug.css"}}
{{template "header.html" .}}

{{ if .loggedin }}
  <div 
    id="rushhourContainer"
    data-loggedin="{{ .loggedin }}" 
    data-oid="{{ .oid }}"
    data-displayname="{{ .name }}"
    data-image="{{ .image }}">
  </div>
{{ else }}
  <div id="rushhourContainer"></div>
{{ end }}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{append . "moreScripts" "js/bundle.index.js"}}
{{template "footer.html" .}}
